<div class="row">
	<div class="large-12 columns">
		<h1>Sign up</h1>
		<!-- show any messages that come back with auth -->
		{{#if message}}
			<div>{{message}}</div>
		{{/if}}

		<!--SIGNUP FORM -->
		<form action="/signup" method="post">
			<label>Email</label>
            <input type="text" name="email">

            <label>Password</label>
            <input type="password" name="password">

            <input type="submit" class="button" name="signup" value="Sing up">
		</form>

		<hr>

    	<p>Already have an account? <a href="/login">Login</a></p>
    </div>
</div>